<div class="container">
    <div class="row page-content">
        <div class="col-3">
            <p>Category List</p>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let foodType of foodTypes | async"
                    (click)="onFoodCateChange(foodType.type)" [class.active]="currentTab == foodType.type">
                    {{foodType.name}}</li>

            </ul>
        </div>
        <div class="col-9">
            <p>Category Items List</p>
            <div class="list-group">
                <div class="list-group-item list-group-item-action" *ngFor="let item of items | async"
                    aria-current="true">
                    <div class="d-flex w-100 justify-content-between item-list" >
                        <h5 class="mb-1" *ngIf="item.outofstock">Out of Stock</h5>
                        <img [ngClass]="{outOfStock: item.outofstock}" src={{item.imageUrl}} alt={{item.name}}>
                        <p>{{item.name}}</p>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Some placeholder content in a paragraph.</p>
                    <small>And some small print.</small>
                </div>
            </div>
        </div>
    </div>
</div>