<!-- about section start -->
<section class="about-area ptb-90" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>About Us<span class="sec-title-border"></span></h2>
            <p>We are here to make quality food available for everyone and every time, whenever they need it, no matter its day or night. We have started this venture with a commitment to ourselves that everyone will sleep after having a great dinner.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <div class="single-about-box">
            <i class="icofont icofont-badge"></i>
            <h4>Quality Service</h4>
            <p>Our consistent top rating and positive reviews show our commitment to our vision. That motivates us to do more better next time.</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="single-about-box active">
            <i class="icofont icofont-chef"></i>
            <h4>Quality Food</h4>
            <p>Top notch standards and best practices from the industry make us different from others. No matter who is in the loss you or us, there is one thing which we never let down is the food quality.</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="single-about-box">
            <i class="icofont icofont-headphone-alt"></i>
            <h4>Quality Support</h4>
            <p>There is one thing everyone needs sometime is 'Help & Support' and we know it very well. This is what makes our 99.9% of customers happy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section end -->