<!-- feature section start -->
<section class="feature-area ptb-90" id="feature">
    <div class="container">
      <div class="row ">
        <div class="col-lg-4">
          <div class="single-feature-box text-lg-right text-center">
            <ul>
              <li>
                <div class="feature-box-info">
                  <h4>Offline Mode</h4>
                  <p>Now, you don't need to be online to make your cart ready</p>
                </div>
                <div class="feature-box-icon">
                  <i class="icofont icofont-brush"></i>
                </div>
              </li>
              <li>
                <div class="feature-box-info">
                  <h4>Smooth Design</h4>
                  <p>Smooth and user friendly design </p>
                </div>
                <div class="feature-box-icon">
                  <i class="icofont icofont-computer"></i>
                </div>
              </li>
              <li>
                <div class="feature-box-info">
                  <h4>Take Away</h4>
                  <p>Roaming around at night, take away your food from nearby store. </p>
                </div>
                <div class="feature-box-icon">
                  <i class="icofont icofont-law-document"></i>
                </div>
              </li>
              <li>
                <div class="feature-box-info">
                  <h4>Instant Rewards</h4>
                  <p>Rewards are instantly added to your account, once your referral's first order delivered </p>
                </div>
                <div class="feature-box-icon">
                  <i class="icofont icofont-heart-beat"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-feature-box text-center">
            <img class="screen-feature" src="assets/img/screenshot/home.png" alt="Home" />
            <img class="screen-feature" src="assets/img/screenshot/selectCart.png" alt="Select Cart" />
            <img class="screen-feature" src="assets/img/screenshot/cart.png" alt="Cart" />
            <img class="screen-feature" src="assets/img/screenshot/addressAndFees.png" alt="Delivery Address And Fees" />
            <img class="screen-feature" src="assets/img/screenshot/payment.png" alt="Payment" />
            <img class="screen-feature" src="assets/img/screenshot/orderSuccess.png" alt="Order Success" />
            <img class="screen-feature" src="assets/img/screenshot/orders.png" alt="Orders" />
            <img class="screen-feature" src="assets/img/screenshot/orderItems.png" alt="Order Items" />
            <img class="screen-feature" src="assets/img/screenshot/orderTrack.png" alt="Order Track" />
            <img class="screen-feature" src="assets/img/screenshot/rewards.png" alt="Rewards" />
            <img class="screen-feature" src="assets/img/screenshot/promos.png" alt="Promotions And Offers" />
            <img class="screen-feature" src="assets/img/screenshot/stores.png" alt="Stores" />
            <img class="screen-feature" src="assets/img/screenshot/support.png" alt="Support" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-feature-box text-lg-left text-center">
            <ul>
              <li>
                <div class="feature-box-icon">
                  <i class="icofont icofont-eye"></i>
                </div>
                <div class="feature-box-info">
                  <h4>50% Off </h4>
                  <p>Book your first order at 50% off</p>
                </div>
              </li>
              <li>
                <div class="feature-box-icon">
                  <i class="icofont icofont-sun-alt"></i>
                </div>
                <div class="feature-box-info">
                  <h4>Refunds Within 24Huors</h4>
                  <p>Get your amount refund for cancelled order within 24 hours </p>
                </div>
              </li>
              <li>
                <div class="feature-box-icon">
                  <i class="icofont icofont-code-alt"></i>
                </div>
                <div class="feature-box-info">
                  <h4>Offers &amp; Prmotions </h4>
                  <p>Offers for everyone and everytime, no matter how many times you order </p>
                </div>
              </li>
              <li>
                <div class="feature-box-icon">
                  <i class="icofont icofont-headphone-alt"></i>
                </div>
                <div class="feature-box-info">
                  <h4>Help &amp; Supports</h4>
                  <p>Get instant support on your order, 99.9% happy customers </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- feature section end -->