<header class="header sticky">
    <div class="container">
      <div class="row flexbox-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="header_logo">
            <a [routerLink]="['main']" class="mr-2"><img src="assets/img/logo_white.png" alt="logo" /></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-6">
          <div class="responsive-menu"></div>
            <div class="mainmenu">
                <ul id="primary-menu">
                  <li [routerLink]="['main']"><a class="nav-link" [ngClass]="{'active': isHeaderMenuActive('main')}">Home</a></li> 
                  <li [routerLink]="['about']"><a class="nav-link"  [ngClass]="{'active': isHeaderMenuActive('about')}">About Us</a></li>
                  <li [routerLink]="['feature']"><a class="nav-link"  [ngClass]="{'active': isHeaderMenuActive('feature')}">Features</a></li>
                  <!-- <li (click)="openGetAppLinkDialog()"><a class="nav-link">App Link</a></li> -->
                </ul>
            </div>
        </div>
      </div>
    </div>
</header>



