<!-- hero area start -->
<section class="hero-area" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-7">
          <div class="hero-area-content">
            <h1>First order 50% off*</h1>
            <h3>Love to eat the delicious and hygienic food at affordable price, download the app from google play store now. Flat 40% off on all orders.</h3>
            <a target="blank" href="https://play.google.com/store/apps/details?id=in.midnightfood.midnightfood" class="appao-btn">Download</a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-5">
            <div class="hand-mockup text-lg-left text-center">
            <img src="assets/img/hand-mockup.gif" alt="Hand Mockup"  style="margin-top: 100px"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero area end -->