<!-- testimonial section start -->
<section class="testimonial-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>Testimonials<span class="sec-title-border"></span></h2>
            <p>Every word you say about us, that's important. No matter it is good or bad, we take it seriously. Keep us motivated, here are some best ones. </p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-wrap">
              <div class="single-testimonial-box">
                <!-- <div class="author-img">
                  <img src="assets/img/author/divyaman.png" alt="author" />
                </div> -->
                <h3>Keshav</h3>
                <br>
                <p>"I had birthday party at my home yesterday and tried starters veg and nonveg from food 24by7 restaurant. Everyone liked it so much that we have to repeat the whole order again. Love you guys. You rocked the party. Everyone asked for your contact and proudly shared the app."</p>
                <div class="author-rating">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
              <div class="single-testimonial-box">
                  <!-- <div class="author-img">
                    <img src="assets/img/author/komal.png" alt="author" />
                  </div> -->
                  <h3>Komal</h3>
                  <br>
                  <p>"Being a girl, I just placed the order to just check the quality and now I am in love with you guys. Great Team, Great Service."</p>
                  <div class="author-rating">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="single-testimonial-box">
                  <!-- <div class="author-img">
                    <img src="assets/img/author/sandeep.png" alt="author" />
                  </div> -->
                  <h3>Vijay</h3>
                  <br>
                  <p>"I came here to taste the food at a flexible price. Most people I came across there do come after night party to eat food. Love the idea of app. People are happy to have you as part of their nightlife. Thanks for being here for us."</p>
                  <div class="author-rating">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial section end -->