<!-- counter section start -->
<section class="counter-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-heart-alt"></i>
            <h1><span class="counter">99</span>.9%</h1>
            <p>Happy Client</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-fast-delivery"></i>
            <h1><span class="counter">100,000</span>+</h1>
            <p>Successful Deliveries</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-food-cart"></i>
            <h1><span class="counter">200</span>+</h1>
            <p>Orders A Day</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-trophy"></i>
            <h1><span class="counter">5</span>+</h1>
            <p>Awards A Year</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter section end -->