

  <!-- Page loader -->
  <!-- <div id="preloader"></div> -->
  <!-- header section start -->
  <header class="header">
    <div class="container">
      <div class="row flexbox-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="header_logo">
            <a href="/home" class="mr-2"><img src="assets/img/logo_white.png" alt="logo" /></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-6">
          <div class="responsive-menu"></div>
            <div class="mainmenu">
                <ul id="primary-menu">
                  <!-- <li data-toggle="modal" data-target="#sendAppLinkModal"><a class="appao-btn">Send App Link</a></li> -->
                </ul>
                
            </div>
        </div>
      </div>
    </div>
  </header>

<!-- hero area start -->
<section class="hero-area" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-area-content">
          <h1>First order 50% off use "PMFLAT50".</h1>
          <h1>Every order 40% off use "ANNIVERSARY40".</h1>
          <h3>Love to eat delicious and hygienic food at affordable price, download the app now.</h3>
          <a target="blank" href="https://play.google.com/store/apps/details?id=in.midnightfood.midnightfood" class="appao-btn">Google Play</a>
          <!-- <a href="#" class="appao-btn">App Store</a> -->
        </div>
      </div>
      <div class="col-lg-5">
          <div class="hand-mockup text-lg-left text-center">
          <img src="assets/img/hand-mockup.png" alt="Hand Mockup"  class="hand_mock_img"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->
<!-- about section start -->
<section class="about-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="sec-title">
          <h2>About Us<span class="sec-title-border"></span></h2>
          <p>We are here to make quality food available for everyone and every time, whenever they need it, no matter its day or night. We have started this venture with a commitment to ourselves that everyone will sleep after having a great dinner.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
          <div class="single-about-box">
          <i class="icofont icofont-badge"></i>
          <h4>Quality Service</h4>
          <p>Our consistent top rating and positive reviews show our commitment to our vision. That motivates us to do more better next time.</p>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="single-about-box active">
          <i class="icofont icofont-chef"></i>
          <h4>Quality Food</h4>
          <p>Top notch standards and best practices from the industry make us different from others. No matter who is in the loss you or us, there is one thing which we never let down is the food quality.</p>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="single-about-box">
          <i class="icofont icofont-headphone-alt"></i>
          <h4>Quality Support</h4>
          <p>There is one thing everyone needs sometime is 'Help & Support' and we know it very well. This is what makes our 99.9% of customers happy.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!-- feature section start -->
<section class="feature-area ptb-90" id="feature">
  <div class="container">
    <div class="row flexbox-center">
      <div class="col-lg-4">
        <div class="single-feature-box text-lg-right text-center">
          <ul>
            <li>
              <div class="feature-box-info">
                <h4>Offline Mode</h4>
                <p>Now, you don't need to be online to make your cart ready</p>
              </div>
              <div class="feature-box-icon">
                <i class="icofont icofont-brush"></i>
              </div>
            </li>
            <li>
              <div class="feature-box-info">
                <h4>Smooth Design</h4>
                <p>Smooth and user friendly design </p>
              </div>
              <div class="feature-box-icon">
                <i class="icofont icofont-computer"></i>
              </div>
            </li>
            <li>
              <div class="feature-box-info">
                <h4>Take Away</h4>
                <p>Roaming around at night, take away your food from nearby store. </p>
              </div>
              <div class="feature-box-icon">
                <i class="icofont icofont-law-document"></i>
              </div>
            </li>
            <li>
              <div class="feature-box-info">
                <h4>Instant Rewards</h4>
                <p>Rewards are instantly added to your account, once your referral's first order delivered </p>
              </div>
              <div class="feature-box-icon">
                <i class="icofont icofont-heart-beat"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature-box text-center">
          <img class="screen-feature" src="assets/img/screenshot/home.png" alt="Home" />
          <img class="screen-feature" src="assets/img/screenshot/selectCart.png" alt="Select Cart" />
          <img class="screen-feature" src="assets/img/screenshot/cart.png" alt="Cart" />
          <img class="screen-feature" src="assets/img/screenshot/addressAndFees.png" alt="Delivery Address And Fees" />
          <img class="screen-feature" src="assets/img/screenshot/payment.png" alt="Payment" />
          <img class="screen-feature" src="assets/img/screenshot/orderSuccess.png" alt="Order Success" />
          <img class="screen-feature" src="assets/img/screenshot/orders.png" alt="Orders" />
          <img class="screen-feature" src="assets/img/screenshot/orderItems.png" alt="Order Items" />
          <img class="screen-feature" src="assets/img/screenshot/orderTrack.png" alt="Order Track" />
          <img class="screen-feature" src="assets/img/screenshot/rewards.png" alt="Rewards" />
          <img class="screen-feature" src="assets/img/screenshot/promos.png" alt="Promotions And Offers" />
          <img class="screen-feature" src="assets/img/screenshot/stores.png" alt="Stores" />
          <img class="screen-feature" src="assets/img/screenshot/support.png" alt="Support" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature-box text-lg-left text-center">
          <ul>
            <li>
              <div class="feature-box-icon">
                <i class="icofont icofont-eye"></i>
              </div>
              <div class="feature-box-info">
                <h4>50% Off </h4>
                <p>Book your first order at 50% off</p>
              </div>
            </li>
            <li>
              <div class="feature-box-icon">
                <i class="icofont icofont-sun-alt"></i>
              </div>
              <div class="feature-box-info">
                <h4>Refunds Within 24Huors</h4>
                <p>Get your amount refund for cancelled order within 24 hours </p>
              </div>
            </li>
            <li>
              <div class="feature-box-icon">
                <i class="icofont icofont-code-alt"></i>
              </div>
              <div class="feature-box-info">
                <h4>Offers &amp; Prmotions </h4>
                <p>Offers for everyone and everytime, no matter how many times you order </p>
              </div>
            </li>
            <li>
              <div class="feature-box-icon">
                <i class="icofont icofont-headphone-alt"></i>
              </div>
              <div class="feature-box-info">
                <h4>Help &amp; Supports</h4>
                <p>Get instant support on your order, 99.9% happy customers </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature section end -->

<!-- video section start -->
<section class="video-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video-popup">
          <a href="https://www.youtube.com/watch?v=yKj_hYEPMGI" class="popup-youtube" target="_blank"><i class="icofont icofont-ui-play"></i></a>
          <h1>Book your order now, Check this video for help.</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- video section end -->
<!-- testimonial section start -->
<section class="testimonial-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="sec-title">
          <h2>Testimonials<span class="sec-title-border"></span></h2>
          <p>Every word you say about us, that's important. No matter it is good or bad, we take it seriously. Keep us motivated, here are some best ones. </p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-wrap">
            <div class="single-testimonial-box">
              <!-- <div class="author-img">
                <img src="assets/img/author/divyaman.png" alt="author" />
              </div> -->
              <h1>Keshav</h1>
              <p>I had birthday party at my home yesterday and tried starters veg and nonveg from food 24by7 restaurant. Everyone liked it so much that we have to repeat the whole order again. Love you guys. You rocked the party. Everyone asked for your contact and proudly shared the app.</p>
              <div class="author-rating">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="single-testimonial-box">
                <!-- <div class="author-img">
                  <img src="assets/img/author/komal.png" alt="author" />
                </div> -->
                <h1>Komal</h1>
                <p>Being a girl, I just placed the order to just check the quality and now I am in love with you guys. Great Team, Great Service. </p>
                <div class="author-rating">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="single-testimonial-box">
                <!-- <div class="author-img">
                  <img src="assets/img/author/sandeep.png" alt="author" />
                </div> -->
                <h1>Sandeep</h1>
                <p>I came here to taste the food at a flexible price. Most people I came across there do come after night party to eat food. Love the idea of app. People are happy to have you as part of their nightlife. Thanks for being here for us. </p>
                <div class="author-rating">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
              </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->
<!-- counter section start -->
<section class="counter-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="single-counter-box">
          <i class="icofont icofont-heart-alt"></i>
          <h1><span class="counter">99</span>.9%</h1>
          <p>Happy Client</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-counter-box">
          <i class="icofont icofont-fast-delivery"></i>
          <h1><span class="counter">100,000</span>+</h1>
          <p>Successful Deliveries</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-counter-box">
          <i class="icofont icofont-food-cart"></i>
          <h1><span class="counter">200</span>+</h1>
          <p>Orders A Day</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-counter-box">
          <i class="icofont icofont-trophy"></i>
          <h1><span class="counter">5</span>+</h1>
          <p>Awards A Year</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- counter section end -->

<!-- download section start -->
<section class="download-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="sec-title">
          <h2>Download Available<span class="sec-title-border"></span></h2>
          <p>We are only available on Android Store right now but our development teams are working day and night to make the app available on Apple Store for you ASAP. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <a target="blank" href="https://play.google.com/store/apps/details?id=in.midnightfood.midnightfood" class="download-btn flexbox-center">
              <div class="download-btn-icon">
                <i class="icofont icofont-brand-android-robot"></i>
              </div>
              <div class="download-btn-text">
                <p>Available on</p>
                <h4>Android Store</h4>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<!-- <app-footer></app-footer> -->

